#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', serif;
    padding: 10px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.encabezado {
    height: 200px; 
    background-image: url('/imgs/guesteaus.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.8);
    line-height: 200px;
    color: #5a3e36;
    width: 100%;
    background-color: #5a3e36;
}


.menu-estrella {
    background-color: #fff8f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.menu-estrella h2 {
    font-size: 24px;
    color: #5a3e36;
    margin-bottom: 10px;
}


.menu-estrella ul {
    list-style: none;
    padding: 0;
}

.menu-estrella ul li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    position: relative; 
}

.menu-estrella ul li::before {
    content: "A"; 
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    font-size: 14px;
    color: #ff0000; 
    position:relative;
    left: -10px;
    visibility: hidden;
    transition: visibility 0.3s ease; 
}

.menu-estrella ul li[data-alergenos]::before {
    visibility: visible;
}

.menu-estrella ul li:hover {
    background-color: #cac9c9; 
}
.menu-estrella li[data-alergenos] {
    background-color: #eed8d8; 
}

.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.pie ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    margin-right: 0;
    text-align: center;
}

.pie ul li {
    display: inline-block;
    margin-right: 20px; 
}

.pie ul li a {
    text-decoration: none;
    color: #ecdcc6;
    transition: color 0.3s ease;
}

.pie ul li a:hover {
    color: #fff;
}